<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- <link rel="stylesheet" href="CssFiles/login.css" type="text/css">
<script src="Scripts/angular.js"></script>
<script src="JsFiles/blogApp.js"></script>
<script src="JsFiles/loginController.js"></script> -->
</head>
<body ng-app="blogApp" ng-controller="loginCtrl">
	<div id="login">
		<h1>
			<strong>Welcome.</strong> Please login.
		</h1>
		<form name="loginForm">
			<div
				ng-class="{'has-error': loginForm.email.$invalid  && !loginForm.email.$pristine }">
				<fieldset>
					<label>UserName</label>
					<p>
						<input type="email" name="email" ng-model="email"
							ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" tabindex="1"
							autofocus required> <span class="help-inline"
							ng-show="loginForm.email.$error.pattern">Invalid Email</span>
					</p>
					<label>Password</label>
					<div
						ng-class="{'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}">
						<p>
							<input type="password" name="password" ng-model="password"
								ng-pattern="/.*(?=.{6,20})(?=.*\d)(?=.*[a-zA-Z]).*$/"
								ng-minlength="6" ng-maxlength="15" required> <span
								ng-show="loginForm.password.$error.pattern">Invalid
								Password</span>
						</p>
					</div>
					<p>
						<a href="#">Forgot Password?</a>
					</p>
					<p>
						<input type="submit" value="Login" ng-model="login"
							ng-click="Login()">
					</p>
				</fieldset>
			</div>
		</form>
		 <p>
			<span class="btn-round">or</span>
		</p>
		<!-- <p>
			<a class="facebook-before"></a>
			<button class="facebook">Login Using Facbook</button>
		</p>
		<p>
			<a class="twitter-before"></a>
			<button class="twitter">Login Using Twitter</button>
		</p>
		<p> -->
			<a class="register-before"></a>
			<button class="register" name="register" ng-click = "registerpage()">Register</button>
		</p>
	</div>
</body>
</html>
