<body style="width: 100%; height: 100%">
	<nav>
		<img width="160px" z-index="-1" height="70px" src="./images/mspp.png">

		<ul style="margin-left: 650px;">
			<li class="drpdown"><a href="#"><i class="icon20 comments"></i><span>Posts</span></a>
				<div class="dropdownContainPost">
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li>Add Post</li>
							<li>Latest Posts</li>
							<li>Popular Posts</li>
						</ul>
					</div>
				</div></li>
			<li class="drop"><a href="#"><i class="icon20 login"></i><span>My
						Profile</span></a>
				<div class="dropdownContain">
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li>Settings</li>
							<li>Switch Account</li>
							<li>Log Out</li>
						</ul>
					</div>
				</div></li>
			<li><a href="#"> Help</a></li>
		</ul>
	</nav>
	<div class="jimgMenu">
		<ul style="height: 100%">
			<li id="landscapes"><a href="#nogo">Landscapes</a></li>
			<li id="people"><a href="#nogo">People</a></li>
			<li id="nature"><a href="#nogo">Nature</a></li>
			<li id="abstract"><a href="#nogo">Abstract</a></li>
			<li id="urban"><a href="#nogo">Urban</a></li>
			<li id="urban1"><a href="#nogo">Urban</a></li>
			<li id="urban"><a href="#nogo">Urban</a></li>
		</ul>
	</div>
	<div class="container" style="width: 1021px; height: 475px">
		<img alt="" src="./images/writing.jpg"
			style="width: 100%; height: 100%;">
	</div>

</body>