<div>
	<div class="model-content">
		<div class=" model-header">
			<button class="times" type="button" class="close"
				data-dismiss="modal" ng-click="cancel()">&times;</button>
			<h1 class="modalh1" class="model-title" align="center">
				<strong>Switch Account</strong>
			</h1>
		</div>
		<div align="center">
			<div>
				<a target="_blank" title="find us on Facebook"
					href="http://www.facebook.com"> <img
					ng-src="//login.create.net/images/icons/user/facebook_40x40.png"
					border=0 alt="facebook" border=0></a>
			</div>
			<div>
				<a target="_blank" title="follow me on twitter"
					href="http://www.twitter.com"><img alt="twitter"
					ng-src="//login.create.net/images/icons/user/twitter_130x50.png"
					border=0></a>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="closeButton" class="btn btn-default"
				data-dismiss="modal" color="red" ng-click="cancel()">Close</button>
		</div>
	</div>
</div>
