.body {
	background-size: 100px 80px;
	background-repeat: no-repeat;
	line-height: 1.5em;
	background-color: #FF7474 !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50px 100px;
	width: 100%;
	height: 100%;
}

.bgImage {
	text-align: center;
	background: #e0e0e0;
	padding-bottom: 200px;
	background-image: url('../Images/how-to-create-images.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.h1 {
	margin-bottom: 30px;
	font-size: 150%;
	text-align: center;
	margin-top: 3px !important;
	margin-bottom: 29px !important;
	padding-top: 97px;
	color: orangered;
	height: 217px;
	line-height: 10.5em;
}

.button {
	background-color: #008dde;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: 50px;
	text-transform: uppercase;
	width: 300px;
	-webkit-appearance: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 50px !important;
}